<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<modules>
		<module id="otorisasi_user" class="Application.Autorisasi" />
		<module id="auth" class="TAuthManager" UserManager="otorisasi_user" LoginPage="Home" />
	</modules>
	<authorization>        
            <allow roles="opd" pages="opd.*" />                  
            <allow pages="Login" users="*" />
            <deny users="*" />		
	</authorization>
	<parameters>
            <parameter id="NewUserRoles" value="opd" />
	</parameters>
</configuration>